

#frame {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

#frame > div {
    margin:1rem;
    padding:5px;
}

#lines {
    min-height: 2rem;
}

#editor {
    position: relative;
}

#edbox {
    --lino:0;
    position: absolute;
    left:0;
    top: calc( var(--lino) * 18px + 6px );
}

#edbox > div {
    height: 16px;
}